@using AltinnCore.ServiceLibrary.ServiceMetadata
@using AltinnCore.Common.Services.Interfaces
@using System.Linq
@using AltinnCore.ServiceLibrary.Configuration
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using AltinnCore.Common.Constants
@inject IRepository _repository
@inject ITestingRepository _testingRepository
@inject IHttpContextAccessor HttpContextAccessor
@{
    string org = ViewContext.RouteData.Values["org"] as string;
    string service = ViewContext.RouteData.Values["service"] as string;

    ServiceMetadata _sm = null;
    IList<TestMetadata> _tests = null;
    bool _hasOrgService = org != null && service != null;

    if (_hasOrgService)
    {
        _sm = _repository.GetServiceMetaData(org, service);
        _tests = _testingRepository.GetTests(org, service);
    }
}

<script>
    window.org = '@org';
    window.service = '@service';
</script>

<style>
    .nav-item.nav-boxed {
        border-left: 1px solid rgb(30,174,247);
        border-right: 1px solid rgb(30,174,247);
        margin-left: -1px !important;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        background-color: rgba(9, 160, 236, 1);
    }

        .nav-item.nav-boxed .dropdown-menu {
            background-color: rgba(9, 160, 236, 1);
            margin-left: -1px !important;
            border-right: 1px solid rgb(128, 128, 128);
            border-top: 0;
        }

            .nav-item.nav-boxed .dropdown-menu > .dropdown-item {
                color: #fff;
            }

    .navbar-dark .navbar-nav .nav-boxed .nav-link {
        color: #fff;
    }

    .navbar-dark .navbar-nav .dropdown-menu {
        margin: 0;
        margin-top: -1px;
        border-radius: 0;
    }

    .navbar .dropdown-toggle.hide-caret:after {
        display: none;
    }

    .navbar-dark .sub-nav {
        background-color: #808080;
    }

    .navbar-dark .navbar-nav .active /*> .nav-link*/ {
        font-weight: bold;
    }

    .navbar-dark .navbar-nav .nav-link {
        /*color: #fff;*/
    }

    .secondary-nav {
        background-color: #f3f3f3;
        /**border-bottom: 1px solid rgba(0, 0, 0, .1);**/
    }

    .secondary-nav i[class='fa fa-fw'] {
        display: none;
    }

    .navbar-dark .secondary-nav .navbar-nav .nav-link {
        color: #000;
        height: 33px;
    }

    .navbar-dark .secondary-nav .navbar-nav .nav-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .secondary-nav .only-primary, .primary-nav .only-secondary {
        display: none !important;
    }

    .navbar-dark .secondary-nav .navbar-nav .dropdown-divider {
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 0;
        height: 33px;
        border-right: 1px solid #d0d2d3;
    }

    .navbar-dark .secondary-nav .navbar-nav .nav-item:hover {
        background-color: #d0d2d3;
    }

    .navbar-dark .secondary-nav .navbar-nav .nav-item.active {
        background-color: white;
    }
    .secondary-nav .nav-link.nav-item {
        color: black !important;
    }

    .navbar-nav .active {
        cursor: default;
    }

    button {
        cursor: pointer;
    }

    .navbar-dark .primary-nav .nav-item.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: calc(50% - 6px);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #f3f3f3;
    }

    .navbar-dark .secondary-nav .navbar-nav .nav-item.active > .nav-link {
        color: rgb(30,174,247);
        font-weight: normal;
    }

    .nav-item {
        position: relative;
    }

    .secondary-nav .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }

    ul.navbar-nav .dropdown-menu > .dropdown-item:hover, .list-group-item-action:hover, .action-list-group .list-group-item:hover {
        color: #000;
        background-color: #E6F3FB;
    }

    .bg-inverse {
        background-color: rgb(30,174,247) !important;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .nav-tabs > li > a {
        border: none !important;
        color: #666;
    }

        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            border: none;
            color: rgb(30,174,247) !important;
            background: transparent;
        }

        .nav-tabs > li > a::after {
            content: "";
            background: rgb(30,174,247);
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }

    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

    .tab-nav > li > a::after {
        background: #21527d none repeat scroll 0% 0%;
        color: #fff;
    }

    .tab-pane {
        padding: 15px 0;
    }

    .tab-content {
        padding: 20px;
        padding-top: 0;
    }

    .nav.nav-tabs {
        background-color: #f3f3f3;
    }

    /** Small devices (landscape phones, 767px and down) **/
    @@media (max-width: 767px) {
        .navbar-dark .secondary-nav .navbar-nav .dropdown-divider {
            display: none !important;
        }
        /** Hide caret **/
        .navbar-dark .navbar-nav .nav-item.active::after {
            border: none !important;
        }
    }

    /** Medium devices (tablets, 768px and up) **/
    @@media (min-width: 768px) {
        /** Top menu menus open on hover only for larger screens **/
        ul.navbar-nav .nav-item.dropdown:hover > div.dropdown-menu {
            display: block;
        }
    }

    /** Large devices (desktops, 992px and up) **/
    @@media (min-width: 992px) {
    }

    /** Extra large devices (large desktops, 1200px and up) **/
    @@media (min-width: 1200px) {
    }
</style>

<nav id="navbar-main" class="navbar navbar-expand navbar-dark bg-inverse p-0">
    <a class="navbar-brand pt-0 mt-0" href="/">
        <img class="d-inline-block align-center ml-3 p-0" src="/designer/img/altinn_logo.png" alt="Altinn" title="Startside" />
    </a>
    @if (org != null)
    {
        <button class="navbar-toggler navbar-toggler-right text-white p-0 pt-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
            <i class="fa fa-fw fa-navicon navbar-toggler-icon" aria-hidden="true"></i>
        </button>
    }

    <div class="primary-nav collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            @if (org != null)
            {
                <li class="nav-item nav-boxed">
                    <a class="nav-link hide-caret" asp-route="orgRoute" asp-route-controller="Owner" asp-route-action="Index" asp-route-org="@org" title="Organisasjon">@org</a>
                    @*<div class="dropdown-menu">

                        @foreach (OrgConfiguration ownerConfig in _repository.GetOwners())
                        {
                            <a class="dropdown-item only-primary" asp-route="orgRoute" asp-route-controller="Owner" asp-route-action="Index" asp-route-org="@ownerConfig.Code">
                                <i class="fa fa-fw" aria-hidden="true"></i> @ownerConfig.Code
                            </a>
                        }
                        <div class="dropdown-divider only-primary"></div>

                        <a class="dropdown-item only-secondary" asp-route="orgRoute" asp-route-controller="Owner" asp-route-action="Index">
                            <i class="fas fa-fw fa-star" aria-hidden="true"></i>
                            Tjenester
                        </a>
                        <a class="dropdown-item only-secondary" asp-route="orgRoute" asp-route-controller="Codelist" asp-route-action="Index">
                            <i class="far fa-fw fa-list-alt" aria-hidden="true"></i>
                            Kodelister
                        </a>
                        <!--a class="dropdown-item only-secondary" href="#">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            Tekster
                        </a-->
                        <a class="dropdown-item only-secondary" asp-route="orgRoute" asp-route-controller="Owner" asp-route-action="CreateService" asp-route-org="@org">
                            <i class="fa fa-fw fa-plus" style="color:green;" aria-hidden="true"></i>
                            Ny tjeneste
                        </a>
                    </div>*@
                </li>

                @if (service != null)
                {
                    <li class="nav-item nav-boxed">
                        <a class="nav-link dropdown-toggle hide-caret" role="button" aria-haspopup="true" aria-expanded="false" asp-route="serviceRoute" asp-route-controller="Service" asp-route-action="Index" asp-route-service="@service" title="Tjeneste">
                            @service
                        </a>

                        @*<div class="dropdown-menu">
                            @foreach (ServiceConfiguration serviceConfig in _repository.GetServices(org))
                            {
                                <a class="dropdown-item only-primary" asp-route="serviceRoute" asp-route-controller="Service" asp-route-action="Index" asp-route-org="@org" asp-route-service="@serviceConfig.Code">
                                    <i class="fa fa-fw" aria-hidden="true"></i>
                                    @serviceConfig.Code
                                </a>
                            }

                            <div class="dropdown-divider only-primary"></div>
                            <a class="dropdown-item only-secondary" asp-route="serviceRoute" asp-route-controller="Service" asp-route-action="Index" asp-route-service="@service">
                                <i class="fa fa-fw fa-tags" aria-hidden="true"></i>
                                Utgaver
                            </a>
                            <!--a class="dropdown-item only-secondary" asp-route="serviceRoute" asp-route-controller="Codelist" asp-route-action="Index">
                                <i class="far fa-fw fa-list-alt" aria-hidden="true"></i>
                                Kodelister
                            </a>
                            <a class="dropdown-item only-secondary" href="#">
                                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                                Tekster
                            </a-->
                        </div>*@
                    </li>
                }
            }

            @if (_hasOrgService)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hide-caret" role="button" aria-haspopup="true" aria-expanded="false" asp-controller="Model" asp-action="Index">
                        Modellering
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="Model" asp-action="Index">
                            <i class="fa fa-fw fa-cubes" aria-hidden="true"></i>
                            Datamodell
                        </a>
                        <a class="dropdown-item" asp-controller="DataSource" asp-action="Index">
                            <i class="fa fa-fw fa-plug" aria-hidden="true"></i>
                            Datakilder
                        </a>
                        <a class="dropdown-item" asp-route="serviceRoute" asp-route-controller="Codelist" asp-route-action="Index">
                            <i class="far fa-fw fa-list-alt" aria-hidden="true"></i>
                            Kodelister
                        </a>
                        <div class="dropdown-divider"></div>
                        @* Comment back in if there is a need for overview page for rules *@
                        @*<a class="dropdown-item" asp-controller="Rules" asp-action="index">
                            <i class="fa fa-fw fa-cogs fa-flip-horizontal" aria-hidden="true"></i>
                            Regler
                        </a>*@
                        <a class="dropdown-item" asp-controller="Rules" asp-action="Code">
                            <i class="far fa-fw fa-file-code" aria-hidden="true"></i>
                            Kode
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hide-caret" role="button" aria-haspopup="true" aria-expanded="false" asp-route-controller="UIEditor" asp-route-action="Index" asp-fragment="/">
                        UX
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-route-controller="UIEditor" asp-route-action="Index" asp-fragment="/">
                            <i class="fa fa-fw fa-edit" aria-hidden="true"></i>
                            Designer
                        </a>
                        <a class="dropdown-item" asp-route-controller="UIEditor" asp-route-action="Index" asp-fragment="/Preview">
                            <i class="fa fa-fw fa-eye" aria-hidden="true"></i>
                            Preview
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Text" asp-action="Index">
                            <i class="fa fa-fw fa-globe" aria-hidden="true"></i>
                            Tekster
                        </a>
                    </div>
                </li>

                @if (_sm.Elements != null && _sm.Elements.Any())
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle hide-caret" asp-route-controller="Testing" asp-route-action="Index" role="button" aria-haspopup="true" aria-expanded="false">
                            Test
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-route="serviceRoute" asp-route-controller="Testing" asp-route-action="Accessibility"><i class="fa fa-fw fa-universal-access" aria-hidden="true"></i> UU</a>
                            <a class="dropdown-item" href="/runtime/@org/@service/ManualTesting">
                                <i class="fa fa-fw fa-play" aria-hidden="true"></i>Manuell
                            </a>
                            <a class="dropdown-item" asp-route-controller="Testing" asp-route-action="Index"><i class="fa fa-fw fa-coffee" aria-hidden="true"></i> Automatisk</a>

                            @foreach (TestMetadata t in _tests)
                            {
                                <a class="dropdown-item" asp-route="serviceRoute" asp-route-controller="Testing" asp-route-action="Edit" asp-route-id="@t.Name"><i class="fa fa-fw" aria-hidden="true"></i> @t.Name</a>
                            }
                            <!--a class="dropdown-item" href="#"><i class="fa fa-fw fa-tachometer" aria-hidden="true"></i> Ytelse</a-->
                            <a class="dropdown-item" asp-route="serviceRoute" asp-route-controller="Testing" asp-route-action="Create">
                                <i class="fa fa-fw fa-plus" style="color:green;" aria-hidden="true"></i>
                                Ny test
                            </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle hide-caret" role="button" aria-haspopup="true" aria-expanded="false" asp-route="serviceRoute" asp-route-controller="Config" asp-route-action="Index">Konfig</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-route-controller="Config" asp-route="serviceRoute" asp-route-action="Index"><i class="fa fa-fw fa-cog" aria-hidden="true"></i> Konfigurasjon</a>
                            <a class="dropdown-item" asp-route-controller="Config" asp-route="serviceRoute" asp-route-action="Security"><i class="fa fa-fw fa-shield-alt" aria-hidden="true"></i> Sikkerhet</a>
                            <a class="dropdown-item" asp-route-controller="Workflow" asp-route="serviceRoute" asp-route-action="Index"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> Prosess</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown mr-auto">
                        <a class="nav-link dropdown-toggle hide-caret" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Deploy</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><i class="fa fa-fw fa-bolt" aria-hidden="true"></i> Deploy nå</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-fw fa-server" aria-hidden="true"></i> Miljøer</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-fw fa-history" aria-hidden="true"></i> Historikk</a>
                        </div>
                    </li>
                }
            }
        </ul>

        @{
            string userName = "Ikke pålogget";
            string userLink = "/user/login";
            bool loggedIn = false;
            if (HttpContextAccessor.HttpContext.User != null & HttpContextAccessor.HttpContext.User.Claims != null)
            {
                foreach (Claim claim in HttpContextAccessor.HttpContext.User.Claims)
                {
                    if (claim.Type.Equals(AltinnCoreClaimTypes.Developer))
                    {
                        userName = claim.Value;
                        loggedIn = true;
                        userLink = "/" + userName;
                    }
                }
            }
        }
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle hide-caret" href="@userLink"  role="button" aria-expanded="false">
                   <i class="ai ai-private-circle-big" aria-hidden="true"
                   style="font-size:24px;"></i> @userName
                </a>
                @if (loggedIn) {
                 <div class="dropdown-menu dropdown-menu-right">
                   <a class="dropdown-item" href="/@userName">
                     <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                     Profil
                   </a>
                   <a class="dropdown-item" href="/@userName/?tab=stars">
                     <i class="fa fa-fw fa-star" aria-hidden="true"></i>
                     Dine favoritter
                   </a>
                   <a class="dropdown-item" href="/user/settings">
                     <i class="fa fa-fw fa-sliders-h" aria-hidden="true"></i>
                     Dine innstillinger
                   </a>
                   <a class="dropdown-item" href="/Home/Logout">
                     <i class="fa fa-fw fa-sign-out-alt" aria-hidden="true"></i>
                     Logg ut
                   </a>
                 </div>
                }
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle hide-caret" asp-controller="Home" asp-action="Docs" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="ai ai-more" title="Dokumentasjon" aria-hidden="true"></i>
                    <span class="sr-only">Dokumentasjon</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-controller="Home" asp-action="Docs">
                        <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
                        Dokumentasjon
                    </a>
                    <a class="dropdown-item" asp-controller="Home" asp-action="Licensing">
                        <i class="fa fa-fw fa-gavel" aria-hidden="true"></i>
                        Lisens
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="Home" asp-action="About">
                        <i class="fa fa-fw" aria-hidden="true"></i>
                        Om
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-dark p-0 d-block">
    <div class="secondary-nav">
        <ul class="navbar-nav">
            <li class="nav-items-placeholder"></li>
        </ul>
    </div>
</nav>
