@model IEnumerable<AltinnCore.Common.Models.ServiceStatusViewModel.UserMessage>

@{
    var detailCount = 0;
}

<h4>Feil og advarsler</h4>
@foreach (var userMessage in Model)
{
    var alertType = userMessage.IsError ? "alert-danger" : userMessage.IsWarning ? "alert-warning" : "alert-success";
    var labelId = $"userMessage-detail-label{++detailCount:000}";

    <div class="">
        <div class="alert  @alertType">
            <div>
                <span>@userMessage.Message</span>
                @if (!string.IsNullOrWhiteSpace(userMessage.Link?.Key))
                {
                    <span class="badge float-right"><a href="@userMessage.Link.Value.Key">@userMessage.Link.Value.Value </a> </span>
                }
            </div>
            @if (userMessage.Details.Any())
            {
                <div style="margin-top: 10px">
                    @foreach (var p in userMessage.Details)
                    {
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="@labelId">@p.Key</span>
                            <input type="text" readonly class="form-control" value="@p.Value" aria-describedby="@labelId" />
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}
