
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="~/img/favicon.ico">

        <title>@ViewBag.Title</title>

        <!-- Javascript -->
        <script src="~/designer/js/lib/jquery.js"></script>
        <script src="~/designer/js/lib/bootstrap.js"></script>
        <script src="~/designer/js/lib/jquery.validate.js"></script>
        <script src="~/designer/js/lib/jquery.validate.unobtrusive.js"></script>
        <script src="~/designer/js/common/common.js"></script>
        @RenderSection("scripts", required: false)

        <!-- CSS -->
        <link rel="stylesheet" href="~/css/react-app.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        @RenderSection("styles", required: false)
       
    </head>

    <body>
        <div class="container">
           
			
			<script>
				$(document).ready(function() {
				        $('.input-validation-error').parents('.form-group').addClass('has-danger');
						$('.input-validation-error').addClass('form-control-danger');
						$('.input-validation-error:first').focus();
				});
			</script>
        </div>


        <!-- START: 03-maler-91-modal-01-modal -->
        <div class="a-scene a-page" id="smoothState">
            <div class="a-modal fade in " role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="container">
                        <!-- START: 01-molekyler-20-modalelementer-05-modal-header -->
                        <div class="a-modal-top">
                            <a href="&#x2F;patterns&#x2F;04-sider-01-forside-00-forside\04-sider-01-forside-00-forside.html" class="no-decoration">
                                <!-- START: 00-atomer-09-bilder-og-media-01-logo -->

                                <img src="~/img/DesignSystem/v1/a-logo-white.svg" alt="Altinn logo" class="a-logo a-modal-top-logo ">

                            <div class="a-modal-top-user">
                                    <button class="nav-link dropdown-toggle a-personSwitcher" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-		expanded="false">
                                    <span class="a-personSwitcher-name" title="Jan Pettersen ">
                                            @ViewBag.RequestContext.UserContext.Reportee.Person.FirstName @ViewBag.RequestContext.UserContext.Reportee.Person.LastName
                                            <br>
                                    </span>
                                    <i class="fa a-personSwitcher-icon a-js-onboardingTarget-1 fa-user"></i>
                                                </button>

                                </div>

                                <!-- END: 00-atomer-09-bilder-og-media-01-logo -->

                            </a>
                        </div>

                        <div class="col-md-12">

            <!-- Modal Header -->


                        <!-- END: 01-molekyler-20-modalelementer-05-modal-header -->
                        <!-- START: 01-molekyler-20-modalelementer-10-modal-navbar -->
                        <div class="a-modal-navbar">
                            <!-- START: 00-atomer-04-handlingsknapper-10-knapp-ikon -->
                            <button type="button"
                                    class="a-modal-back"
                                    data-dismiss="modal"
                                    onclick="goBack()"
                                    aria-label="Tilbake">
                                <i class="fa fa-arrow-left"></i>
                            </button>


                            <!-- END: 00-atomer-04-handlingsknapper-10-knapp-ikon -->
                            <!-- START: 00-atomer-04-handlingsknapper-10-knapp-ikon -->
                            <button type="button"
                                    class="a-modal-close"
                                    data-dismiss="modal"
                                    onclick="goBack()"
                                    aria-label="Lukk">
                                <i class="fa fa-close"></i>
                            </button>


                            <!-- END: 00-atomer-04-handlingsknapper-10-knapp-ikon -->


                            <script>
          function goBack() {
            // window.history.back();
            var arr = []
            for (key in smoothState.cache) { arr.push(key) }
            delete smoothState.cache[arr[arr.length - 1]]
            arr.splice(-1,1)
            $('.a-scene-element').addClass('a-tempAnim')
            smoothState.load(arr[arr.length - 1])
          }
                            </script>
                        </div>

                        <!-- END: 01-molekyler-20-modalelementer-10-modal-navbar -->

                        <div class="a-right-panel a-page a-scene-element">
                            <div class="modal-content">
                                <!-- START: 01-molekyler-20-modalelementer-15-modal-body-header -->
                                <div class="modal-header a-modal-header">
                                    <!-- START: 01-molekyler-00-tekst-30-ikon-tekst -->
                                   <div class="a-iconText a-iconText-background a-iconText-background--blueDarker a-iconText-large">
                                        <!-- ICON -->
                                        <div class="a-iconText-icon">
                                            <!-- START: 00-atomer-09-bilder-og-media-15-ikon -->
                                            <i class="fa fa-university fa-3x"></i>

                                            <!-- END: 00-atomer-09-bilder-og-media-15-ikon -->
                                        </div>
                                        <!-- TEXT -->
                                        <div class="a-iconText-text">  
                                            <p class="a-iconText-text-small" altinn-text-key="brg"></p>
                                            <p class="a-iconText-text-large" altinn-text-key="servicename"></p>
                                        </div>
                                    </div>

                                    <!-- END: 01-molekyler-00-tekst-30-ikon-tekst -->

                                </div>

                                <!-- END: 01-molekyler-20-modalelementer-15-modal-body-header -->

                                <div class="modal-body a-modal-body">
                                    @RenderBody()

                                </div>
                            </div>
                            <div class="a-link-helpfunction">
                                <i class="fa fa-life-ring"></i>
                                Står du fast? Start en
                                    <div class="a-link-chat" id="link-chat">chat</div>
                                <br class="a-rwd-break"> eller ring oss på
                                <a href="../..tel:+47 75 00 60 00" id="" class="a-linkArea  ">
                                    75 00 60 00
                                </a>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- END: 03-maler-91-modal-01-modal -->






    </body>
</html>
