@model IList<ViewMetadata>
@using AltinnCore.ServiceLibrary.ServiceMetadata

@{
    ViewBag.Title = "Visninger";
}

@section scripts {
    <script src="~/designer/js/lib/bootstrap-list-filter.min.js" asp-append-version="true"></script>
    <script src="~/designer/js/lib/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>
}

<div class="text-center">
    @if (Model != null && Model.Any())
    {
        <div class="mx-auto" style="width: 12em;">
            <input id="search" type="search" class="form-control" placeholder="Søk visninger..." autocomplete="on" />
            <span class="fa fa-search" aria-hidden="true"></span>
        </div>

        <div id="viewslist" class="my-2">
            @foreach (ViewMetadata view in Model)
            {
                <ul class="list-group action-list-group altinn-draggable-view" >
                    <li class="list-group-item justify-content-center">                    
                        <a asp-route-action="Edit"
                           asp-route-id="@view.Name"
                           title="Åpne visning '@view.Name'"
                           class="mr-auto ml-auto">
                            @view.Name
                        </a>
                        <a title="Innstillinger for visning '@view.Name'" style="cursor:pointer;"
                           class="text-muted" data-id="@view.Name" data-toggle="modal" data-target="#editViewNameModal">
                            <i class="fa fa-gear" aria-hidden="true"><span class="sr-only">Innstillinger for visning '@view.Name'</span></i>
                        </a>
                    </li>
                </ul>
            }

            <div id="flyttVisningerDialogPlaceholder"></div>

            <div class="modal" id="editViewNameModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-editor">
                            <h4 class="modal-title">Endre navn</h4>
                            <button type="button" class="close modalCloseBtn" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Lukk</span>
                            </button>            
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" id="viewName" maxlength="60" minlength="3" pattern="[a-zA-Z][a-zA-Z0-9_\-]{2,30}"
                                   title="Minst 3 tegn, kan ikke inneholde mellomrom eller spesialtegn ('-' er tillatt)" />
                            <input type="hidden" id="viewId" />
                            <div id="error" class="help-block text-danger"></div>
                            <div id="errorResponseText" class="help-block errormsg"></div>
                        </div>
                        <div class="modal-footer" style="background-color: #f3f3f3">
                            <button type="button" class="btn btn-default modalCloseBtn" data-dismiss="modal">Lukk</button>
                            <button id="modalSaveBtn" disabled type="button" class="btn btn-primary">Lagre</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.Count > 1) {
            <a class="btn btn-outline-secondary" onclick="showMoveViewsDialog();" style="cursor:pointer;">Endre rekkefølge</a>
        }
    }
    
    <a asp-route-action="Create" class="btn btn-outline-primary">
        Lag ny vising
    </a>

</div>

<script>
    $(document).ready(function () {
        $('#viewslist').btsListFilter('#search', {
            initial: false,
            resetOnBlur: false,
            emptyNode: function () {
                return $('<a class="list-group-item justify-content-center alert-danger" href="#">Fant ingen visninger...</a>');
            },
            cancelNode: function() { 
 				return; 
		    } 
        });
    });

    function showMoveViewsDialog() {
        console.log("Henter flytt visningsdialog");
        $.get('@Url.Action("MoveDialog")',
                function(modalHtml) {
                    $("#flyttVisningerDialogPlaceholder").html(modalHtml);
                    $("#flyttVisningerModalDialog").modal("show");
                })
        .fail(function(d) {
            console.log("Klarte ikke vise dialog: " + JSON.stringify(d));
                alert("Dialog for å flytte visninger er ikke tilgjengelig pga. en teknisk feil.");
            });
    }

    $('a[data-target="#editViewNameModal"]').click(function () {
        var oldName = $(this).data('id');
        $('.modal-body #viewName').val(oldName);
        $('.modal-body #viewId').val(oldName);
        $('#editViewNameModalName').text(oldName);
    });

    $('#modalSaveBtn').on('click', function () {
        $.ajax({
            url: '@Url.Action("EditViewName")?' + $.param({ "currentName": $('#viewId').val(), "newName": $('#viewName').val() }),
            type: 'POST',
            data: {
                currentName : $('#viewId').val(),
                newName: $('#viewName').val()
            },
            success: function () {
                $('#editViewNameModal').modal('hide');
                location.reload();
            },
            error: function (data) {
                console.log("Unable to change view name: " + JSON.stringify(data, null, 4));
                $('#error').html("Valideringen feilet. Sjekk at du skriver inn et gyldig navn.");
                if (data && data.status === 400 && data.responseText) {
                    $('#errorResponseText').html(data.responseText);
                }

            }
        });
    });

    $('.modalCloseBtn').on('click', function () {
        $('#error').html("");
        $('#errorResponseText').html("");
    });

    var viewList = $('.list-group-link').map(function () { return $(this).text() }).get();

    var typingTimer;
    var doneTypingInterval = 500;

    $('#viewName').keyup(function () {
        clearTimeout(typingTimer);
        if ($('#viewName').val()) {
            typingTimer = setTimeout(function () {
                var input = $.trim($('#viewName').val().toLowerCase());
                var validationRule = /^[a-zA-Z][\w\-]{2,30}$/;
                if (input.match(validationRule)) {
                    for (var i = 0; i < viewList.length; i++) {
                        var view = $.trim(viewList[i].toLowerCase());
                        if (view === input) {
                            $('#error').html("Angitt navn finnes allerede.");
                            $('#modalSaveBtn').attr("disabled", true);
                            break;
                        } else {
                            $('#error').html("");
                            $('#modalSaveBtn').attr("disabled", false);
                        }
                    }
                } else {
                    $('#error').html("Minst 3 tegn, kan ikke inneholde mellomrom eller spesialtegn ('-' er tillatt)");
                    $('#modalSaveBtn').attr("disabled", true);
                }
            }, doneTypingInterval);
        } else {
            $('#error').html("Skriv navn på visning.");
            $('#modalSaveBtn').attr("disabled", true);
        }
    });
</script>


