@model AltinnCore.Common.Models.AltinnStudioViewModel
@using AltinnCore.ServiceLibrary.Configuration;
@using AltinnCore.ServiceLibrary.ServiceMetadata;

@{
  string org = ViewContext.RouteData.Values["org"] as string;
  string app = ViewContext.RouteData.Values["app"] as string;
  ViewBag.Title = app;
}
@section scripts {
  <script src="~/designer/js/lib/bootstrap-list-filter.min.js" asp-append-version="true"></script>
}

<div class="text-center">
  <h1 class="my-5 hidden-xs-down">
    <span style="font-weight: lighter">@org / @app</span>
  </h1>
</div>


@if (Model.IsLocalRepo)
{

  @if (Model.RepositoryContent != null && Model.RepositoryContent.Count > 0)
  {
    <div class="alert alert-info" role="alert">
      Det er @Model.RepositoryContent.Count filer som er endret som ikke er lagret i Altinn Studio Repository. Se status og mulighet for innsjekking <a href="/designer/@org/@app/Service/Status">her</a>
    </div>
  }

  @if (Model.CommitsBehind != null && Model.CommitsBehind.Value > 0)
  {
    <div class="alert alert-info" role="alert">
      Det er @Model.CommitsBehind.Value endringer utført på tjenesten du ikke har hentet inn. <a href="/designer/@org/@app/Service/PullRemoteChanges">Pull endringer.</a>
    </div>
  }

}
else
{

  <a href="/designer/@org/@app/Service/Clone">Clone service</a>

}

@section styles {
  <style>
    .card-body .fa:hover, .card-body .far:hover, .card-body .fas:hover {
      color: rgb(30,174,247);
    }

    .card .fa, .card .far, .card .fas, .card-title a {
      color: black;
    }

    .card {
      margin-bottom: 1rem;
    }

      .card:hover {
        background-color: #E6F3FB;
      }
  </style>
}

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <!-- Modellering og regler-->
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><a title="Datamodell" asp-route-controller="Model">Modellering</a></h4>
        @if (Model.ServiceMetadata.Elements == null)
        {
          <p class="card-text alert alert-danger">
            Start med å <a title="Datamodell" asp-route-controller="Model">laste opp en datamodell</a>
          </p>
        }
        else
        {
          <a title="Datamodell" asp-route-controller="Model"><i class="fa fa-fw fa-2x fa-cubes" aria-hidden="true"></i></a>
          <a title="APIer og datakilder" asp-route-controller="DataSource"><i class="fa fa-fw fa-2x fa-plug" aria-hidden="true"></i></a>
          <a title="Kodelister" asp-route-controller="Codelist" asp-route="serviceRoute"><i class="far fa-fw fa-2x fa-list-alt" aria-hidden="true"></i></a>
          <!--a title="Regler" asp-route-controller="Rules"><i class="fa fa-fw fa-2x fa-cogs fa-flip-horizontal" aria-hidden="true"></i></a-->
          <a title="Kode" asp-route-controller="Rules" asp-route-action="Code"><i class="far fa-fw fa-2x fa-file-code" aria-hidden="true"></i></a>
        }
      </div>
    </div>

    <!-- React skjemadesigner -->
    @if (Model.ServiceMetadata.Elements != null)
    {
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><a title="Datamodell" asp-route-controller="UIEditor">UX</a></h4>
          <a title="Skjemadesigner" asp-route-controller="UIEditor" asp-fragment="/"><i class="fa fa-fw fa-2x fa-edit" aria-hidden="true"></i></a>
          <a title="Tekster og oversettelser" asp-route-controller="Text"><i class="fa fa-fw fa-2x fa-globe" aria-hidden="true"></i></a>
        </div>
      </div>
    }

    <!-- Test-->
    @if (Model.ServiceMetadata.Elements != null)
    {
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><a asp-route-controller="Tesing">Test</a></h4>

          <a title="Manuell test (åpnes i ny fane)" href="/@org/@app/ManualTesting"><i class="fa fa-fw fa-2x fa-play" aria-hidden="true"></i></a>
          <a title="Automatiske test" asp-route-controller="Testing"><i class="fa fa-fw fa-2x fa-coffee" aria-hidden="true"></i></a>
          <a title="Universell utforming" asp-route-controller="Testing" asp-route-action="Accessibility"><i class="fa fa-fw fa-2x fa-universal-access" aria-hidden="true"></i></a>
        </div>
      </div>
    }

    <!-- Konfig og deploy-->
    @if (Model.ServiceMetadata.Elements != null)
    {
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><a asp-route-controller="Config" asp-route="serviceRoute">Konfig og deploy</a></h4>

          <a title="Konfigurasjon" asp-route-controller="Config" asp-route="serviceRoute"><i class="fa fa-fw fa-2x fa-cog" aria-hidden="true"></i></a>
          <a title="Sikkerhet" asp-route-controller="Config" asp-route="serviceRoute" asp-route-action="Security"><i class="fa fa-fw fa-2x fa-shield-alt" aria-hidden="true"></i></a>
          <a title="Prosess" asp-route-controller="Workflow" asp-route="serviceRoute"><i class="fa fa-fw fa-2x fa-tasks" aria-hidden="true"></i></a>
          <a title="Deploy" asp-route-controller="Deploy" asp-route="serviceRoute"><i class="fa fa-fw fa-2x fa-bolt" aria-hidden="true"></i></a>
        </div>
      </div>
    }
  </div>
</div>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <a asp-route="serviceRoute"
       asp-route-controller="Service"
       asp-route-action="DeleteService"
       asp-route-id="@app"
       class="btn btn-danger">
      Slett tjeneste
    </a>
  </div>
</div>

@if (ViewBag.PackageDetails != null && ViewBag.PackageDetails.Count > 0)
{
  <hr />
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>
              Migreringstidspunkt
            </th>
            <th>
              Assembly navn
            </th>
            <th>
              Aktiv
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @foreach (ServicePackageDetails details in ViewBag.PackageDetails)
          {
            <tr>
              <th scope="row">
                @details.CreatedDateTime
              </th>
              <td>
                @details.AssemblyName
              </td>
              <td>
                Yup
              </td>
              <td>
                <a href="#" class="btn btn-primary-outline float-right">
                  Kjør
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}
