
<h1>Kvittering</h1>

<h4>Tjeneste: @ViewBag.App</h4>
<h4>Levert: @ViewBag.ServiceInstance.LastChanged</h4>

<a asp-controller="Instance"
   asp-action="ViewPrint"
   asp-route-org="@ViewBag.Org"
   asp-route-app="@ViewBag.App"
   asp-route-instanceId="@ViewBag.FormID">

    Print
    </a>

   
